<div id="menu-wrapper">
	<div id="menu-bar" class="z-depth-1">
		<a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2000px-EBay_logo.svg.png" class="medimager-logo"></a>
		<div id="search-wrapper">
			<input id="search-input" #searchInput (keyup.enter)="onEnter(searchInput.value)" class="z-depth-2">
			<div id="auto-search-results">Sökresultat</div>
			<div id="selected-tags"></div>
		</div>
		<span id="advanced-button" onclick="showAdvancedBar();">Avancerad sökning</span>
		<i class='user-button medium material-icons'>account_circle</i>
	</div>
	<div id="advanced-bar">
		<input type="checkbox" id="rokare-check"><label for="rokare-check">Rökare</label>
		<input type="checkbox" id="snusare-check"><label for="snusare-check">Snusare</label>
		<input type="checkbox" id="alder-check"><label for="alder-check">Hög ålder</label>
		<div id="age" class="slider"></div><label>Ålder</label>
	</div>
</div>