<div id="black-back"></div>
<div id="popup-image-wrapper">
	<div id="popup-image-container">
		<i id="popup-image-previous" class='large material-icons'>keyboard_arrow_left</i>
		<i id="popup-image-next" class='large material-icons'>keyboard_arrow_right</i>
		<img id="popup-image">
	</div>
	<div id="popup-image-data">
		<i id="popup-close-button" class='small material-icons'>close</i>
		<label>Bild-ID</label>
		<p>Bild12345678</p>
		<label>Instutition</label>
		<p>Chalmerska oralinstutitionen</p>
		<label>Fotodatum</label>
		<p>25 januari 1996</p>
		<label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p>
		<label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p>

		<div id="popup-image-data-buttons">
			<div>Bramarkera</div><a href="image"><div>Permalänk</div></a>
		</div>
	</div>
</div>

<div id="menu-wrapper">
	<div id="menu-bar" class="z-depth-1">
		<a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2000px-EBay_logo.svg.png" class="medimager-logo"></a>
		<div id="search-wrapper">
			<input id="search-input" #searchInput (keyup.enter)="onEnter(searchInput.value)" class="z-depth-2">
			<div id="auto-search-results">Sökresultat</div>
			<div id="selected-tags"></div>
		</div>
		<span id="advanced-button" onclick="showAdvancedBar();">Avancerad sökning</span>
		<i class='user-button medium material-icons'>account_circle</i>
	</div>
	<div id="advanced-bar">
		<input type="checkbox" id="rokare-check"><label for="rokare-check">Rökare</label>
		<input type="checkbox" id="snusare-check"><label for="snusare-check">Snusare</label>
		<input type="checkbox" id="alder-check"><label for="alder-check">Hög ålder</label>
		<div id="age" class="slider"></div><label>Ålder</label>
	</div>
</div>

<collections-menu *ngIf="collectionsMenuVisible">

</collections-menu>

<div id="page-wrapper" [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">

	<a id="collections-togglebutton" (click)="toggleCollectionsMenu()"><span></span></a>

	<p id="results-count"><span></span> resultat</p>

	<div id="search-results">
		<thumbnail></thumbnail>
	</div>
</div>
<div *ngFor="let image of images | async">
    {{image.name}}
</div>

<div id="footer">
© MedImager, 2017. Alla rättigheter reserverade.
</div>
