<div id="black-back"></div>
<div id="popup-image-wrapper">
	<div id="popup-image-container">
		<i id="popup-image-previous" class='large material-icons'>keyboard_arrow_left</i>
		<i id="popup-image-next" class='large material-icons'>keyboard_arrow_right</i>
		<img id="popup-image">
	</div>
	<div id="popup-image-data">
		<i id="popup-close-button" class='small material-icons'>close</i>
		<label>Bild-ID</label>
		<p>Bild12345678</p>
		<label>Instutition</label>
		<p>Chalmerska oralinstutitionen</p>
		<label>Fotodatum</label>
		<p>25 januari 1996</p>
		<label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p><label>Favoritfilm</label>
		<p>Lejonkungen</p>
		<label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p><label>Andra kommentarer</label>
		<p>Han är ful i munnen.</p>

		<div id="popup-image-data-buttons">
			<div>Bramarkera</div><a href="image"><div>Permalänk</div></a>
		</div>
	</div>
</div>

<top-menu></top-menu>

<collections-menu *ngIf="collectionsMenuVisible">

</collections-menu>

<div id="page-wrapper" [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">

	<a id="collections-togglebutton" (click)="toggleCollectionsMenu()"><span></span></a>

	<p id="results-count"><span></span> resultat</p>

	<div id="search-results">
		<thumbnail></thumbnail>
	</div>
</div>
<div *ngFor="let image of images | async">
    {{image.name}}
</div>

<div id="footer">
© MedImager, 2017. Alla rättigheter reserverade.
</div>
