
	<div id="advanced-bar" #advancedBar [ngStyle]="{'top': visible ? '69px' : (69-advancedBar.offsetHeight) + 'px'}">
		<template ngFor let-selectedParameterList [ngForOf]="selectedParameterLists" let-k="index" *ngIf="jsonReady">
			<div class="row">
				<div class="valign-wrapper input-field col s1">
					<i class="material-icons unselectable delete-filter-button primary-colour-text" (click)="deleteFilter(k)" 
					style="transform: rotate(45deg);cursor: pointer">add_circle_outline</i>
				</div>
				<div class="valign-wrapper input-field col s4">
					<select [(ngModel)]="selectedParameterLists[k]" (ngModelChange)="onChangeParameterList(k)" [attr.id]="'selectedList-'+k">
						<option [ngValue]="-1" style="display: none">
							-----
						</option>
						<option *ngFor="let parameterList of parameterLists; let i = index" [ngValue]="i">
							{{parameterList}}
						</option>
					</select>

				</div>
				<div class="valign-wrapper input-field col s4">
					<select [(ngModel)]="selectedTerms[k]" (ngModelChange)="sendParamsToService()" id="listAlternatives-{{k}}">
						<option [ngValue]="-1" style="display: none">
							-----
						</option>
						<option *ngFor="let parameterString of parameters[parameterLists[selectedParameterLists[k]]]; let j = index" [ngValue]="j">
							{{parameterString}}
						</option>
					</select>
				</div>
			</div>
		</template>
		<i *ngIf="selectedParameterLists[selectedParameterLists.length-1]!=-1" class='material-icons unselectable' id="add-row-button" (click)="addRow()">add</i>
	</div>


<!--

Pkod				regular
Care-provider		multiple
visit-nr			regular
Sex					regular
Age					regular
Besokdatum			regular
Born				regular
Occup				multiple
Health				regular
Changes				multiple
Dis-now				multiple
Dis-past			multiple
Drug				multiple
Allergy1			regular
Allergy				multiple
Smoke1				regular
Smoke-past			regular
Smoke				regular
smoke-time			regular
Smoke-past-time		regular
Smoke-past-amount	regular
Smoke-time-stop		regular
Snuff1				regular
Snuff-past			regular
Snuff				regular
snuff-time			regular
Snuff-past-time		regular
Snuff-past-amount	regular
Snuff-time-stop		regular
Alcohol				regular
Symp-now			multiple
Vas-now				regular
Lesn-on				regular
Mucos-site			multiple
Mucosmulti			regular
Mucos-size			regular
Mucos-txtur			multiple
bi-lesion			multiple
note1				free
Treat-type			multiple
Treat-eval-obj		regular
Treat-eval-subj		regular
Treat-type2			multiple
Clindiagn			multiple
PAD					multiple
PAD-past			free
Deceased			regular
drop-out			regular
Photo				regular

<div class="row ">
				<div class="valign-wrapper col s4 ">
					<input class="filled-in" formControlName="smoke" type="checkbox" id="smokerCheck"><label for="smokerCheck">Rökare</label>
					<input class="filled-in" formControlName="snuff" type="checkbox" id="snusCheck"><label for="snusCheck">Snusare</label>
				</div>
				<div class="valign-wrapper col s4">
					(ålder)
				</div>
				<div class="valign-wrapper col s4"> 
					<input class="with-gap valign-center" name="gender" value="all" formControlName="gender" type="radio" id="anyGender" checked>
					<label for="anyGender">Alla kön</label>
					<input class="with-gap valign-center" name="gender" value="women" formControlName="gender" type="radio" id="womenOnly">
					<label for="womenOnly">Kvinnor</label>
					<input class="with-gap valign-center" name="gender" value="men" formControlName="gender" type="radio" id="menOnly">
					<label for="menOnly">Män</label>
				</div>
			</div>

			<div class="row">
				<div class="valign-wrapper col s4 ">
					<input class="filled-in" formControlName="includeTentative" type="checkbox" id="diagTentCheck"><label for="diagTentCheck">Inkludera tentativa diagnoser</label>
				</div>
				<div class="valign-wrapper col s4">
					<input class="filled-in" formControlName="includeHist" type="checkbox" id="diagHistCheck"><label for="diagHistCheck">Inkludera tidigare diagnoser</label>
				</div>
				<div class="valign-wrapper col s4"> 
					<input class="filled-in" formControlName="includeDiseasePast" type="checkbox" id="diseasePastCheck"><label for="diseasePastCheck">Inkludera tidigare sjukdomar</label>
				</div>
			</div>

-->
