<top-menu></top-menu>

<collections-menu *ngIf="collectionsMenuVisible" [ngClass]="{'collections-menu-hidden': collectionsMenuVisible}">
</collections-menu>

<div id="page-wrapper" [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">

	<a id="collections-togglebutton" (click)="toggleCollectionsMenu()"><span></span></a>

	<p id="results-count"><span></span> resultat</p>

	<div id="search-results">
		<thumbnail></thumbnail>
	</div>

	<div *ngFor="let image of images">
		<p>Image: {{image.name}}</p>
	</div>
</div>

<page-footer></page-footer>