<template *ngIf="loaded" ngFor let-searchresult [ngForOf]="searchresults" let-i="index" >
	<span  
		id="{{'result-image-'+i+'-'+searchresult.index}}" 
		class="unselectable"
		[ngStyle]="{'background-image': 'url(' + url+'/thumbnail/'+searchresult.examinationID +'/' +searchresult.index + ')'}" 
		[attr.data-examinationid]="searchresult.examinationID"
		[attr.data-imageIndex]="searchresult.index"
		(click)="onImageClick(i,searchresult.index)"
	><!--



		<div class="opacity-wrapper" *ngIf="getNote(i,j) && !editMode">
			{{getNote(i,j)}}
		</div>
		<div class="collection-image-button-container" *ngIf="!editMode" >
			<a class="btn-floating btn-large waves-effect waves-light" (click)="editNote(i,j)" >
				<i class="material-icons" draggable="false">mode_edit</i>
			</a>
		</div>




		<div class="opacity-wrapper-always-on valign-wrapper" *ngIf="editMode && editi == i && editj == j">
			<textarea [attr.id]="'note-edit-' + i + '-' + j" [value]="editText" class="materialize-textarea valign-center" maxlength="128"></textarea>
		</div>
		<div class="collection-image-button-container-always-on" *ngIf="editMode">
			<a class="btn-floating btn-large waves-effect waves-light" (click)="setNote(i,j)" *ngIf="editMode && editi==i && editj==j">
				<i class="material-icons" draggable="false">done</i>
			</a>
			<a class="btn-floating btn-large waves-effect waves-light" (click)="editMode=false" *ngIf="editMode && editi==i && editj==j">
				<i class="material-icons" style="transform: rotate(45deg)" draggable="false">add</i>
			</a>
		</div>-->
	</span>
</template>
