<template *ngIf="loaded" ngFor let-image [ngForOf]="images" let-i="index" >

	<collection-image-thumbnail 
		[src]="image.examinationID + '/' +image.index"
		[index]="i"
		[editMode]="editMode"
		[note]="getNote(i)"
		[deleteConfirmation]="deleteConfirmation"
		[deletingThis]="deletei == i"
		[editingThis]="editi == i"
		(editNote)="editNote(i)"
		(confirmDelete)="confirmDelete(i)"
		(deleteConfirmed)="deleteConfirmed($event)"
		(setNote)="setNote(i)"
		(cancelEdit)="editMode=false"
		(click)="onImageClick(i)"
	>
	</collection-image-thumbnail>
</template>
