<top-menu></top-menu>

<collections-menu #collectionsMenu>
</collections-menu>

<div id="page-wrapper" [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">

	<a id="collections-togglebutton" (click)="toggleCollectionsMenu()"><span></span></a>

	<div id="image-wrapper" [style.display]="displayOrNot" *ngIf="imageDataLoaded">
		<img src="{{getPhoto()}}" id="full-image">
		<div id="image-data">
			
			<label>Upplösning</label>
			<p>{{imageWidth}} x {{imageHeight}}</p>

			<p>{{imageData?.examinationID}}</p>
			<p>{{listToText(imageData?.diagDef)}}</p>

		</div>
	</div>
</div>

<page-footer></page-footer>