

<popup>
</popup>

<user-page></user-page>

<collections-menu #collectionsMenu>
</collections-menu>

<div [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">

	<!--<imagepage></imagepage>-->

	<top-menu *ngIf="searchMode"></top-menu>

	
	

	<collection-topmenu [hidden]="searchMode" #collectionTopmenu> </collection-topmenu>
	<div id="search-results" class="top-menu-margin" [hidden]="searchMode">
		<collection-thumbnail #collectionThumbnail [hidden]="searchMode"></collection-thumbnail>
	</div>
	
</div>

<!--<div id="search-results" class="top-menu-margin" *ngIf="searchMode">-->
	<div id="search-results" class="top-menu-margin">
		<thumbnail ></thumbnail>
	</div>

<page-footer></page-footer>
