

<popup>
</popup>

<user-page></user-page>

<collections-menu #collectionsMenu>
</collections-menu>

<div [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">

	<imagepage *ngIf="imagePageOpen" [examinationID]="'imagePageExaminationId'" [imageIndex]="'imagePageImageIndex'" ></imagepage>

	<top-menu *ngIf="searchMode && !imagePageOpen"></top-menu>
	<div id="search-results" class="top-menu-margin" *ngIf="searchMode && !imagePageOpen">
		<thumbnail ></thumbnail>
	</div>

	<collection-topmenu [hidden]="searchMode && !imagePageOpen" #collectionTopmenu> </collection-topmenu>
	<div id="search-results" class="top-menu-margin" [hidden]="searchMode && !imagePageOpen">
		<collection-thumbnail #collectionThumbnail [hidden]="searchMode && !imagePageOpen"></collection-thumbnail>
	</div>
	
</div>

<page-footer></page-footer>
