

<popup>
</popup>

<collections-menu #collectionsMenu>
</collections-menu>

<div [ngClass]="{'collections-menu-margin': collectionsMenuVisible}">
	

	<p id="results-count"><span></span> resultat</p>

	<top-menu *ngIf="searchMode"></top-menu>
	<div id="search-results" class="top-menu-margin" *ngIf="searchMode">
		<thumbnail [gridType]="'search'" ></thumbnail>
	</div>

	<collection-topmenu [hidden]="searchMode" #collectionTopmenu> </collection-topmenu>
	<div id="search-results" class="top-menu-margin" *ngIf="!searchMode">
		<thumbnail [gridType]="'collection'" ></thumbnail>
	</div>
	
</div>

<page-footer></page-footer>
