<div *ngIf="searchMade" id="thumbnailTemplate">
	<p id="results-count">{{getNumberOfResults()}} resultat</p>

	<template ngFor let-searchresult [ngForOf]="searchresults" let-i="index" >
		<image-thumbnail *ngFor="let imagePath of searchresult.imagePaths; let j=index"  
		[src]="searchresult.examinationID + '/' + j"></image-thumbnail>
	</template>
	
	<p id="search-information" *ngIf="searchresults.length == 0">Inga bilder matchade valda sökkriterier.</p>
</div>
<p id="search-information" *ngIf="!searchMade">Inväntar din sökning</p>

<!--[ngStyle]="{'background-image': 'url(' + url+'/thumbnail/'+searchresult.examinationID +'/' +j + ')'}" 
{{'result-image-'+i+j}}
[ngStyle]="{'background-image': getThumbnail(searchresult.examinationID,j)}"
-->