<div id="menu-wrapper">
	<form [formGroup]="form" action="">
		<div id="menu-bar">
			<a href="index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2000px-EBay_logo.svg.png" class="medimager-logo"></a>
			<div id="search-wrapper">
				<input id="search-input searchTerms" formControlName="value" #value (keyup.enter)="onEnter(value.value)">
				
				
				<!--<input class="filled-in" type="hidden" name="searchTerms" id="searchTerms" formControlName="searchTerms">-->

				<div id="auto-search-results">

					<!-- Autocomplete -->

				</div>
				<div id="selected-tags">

					<!-- Display selected tags -->
					<div *ngFor="let tag of tags; let i=index" class="chip">
						tandtroll
						<i id="generateId(i)" class="removeTag close material-icons">close</i>
					</div>

				</div>
			</div>
			<span class="unselectable" id="advanced-button" onclick="showAdvancedBar();">Avancerad sökning</span>
			<i class='user-button medium material-icons'>account_circle</i>
		</div>

		<div id="advanced-bar">
			<div class="row ">
				<div class="tertiary-colour valign-wrapper col s4 ">
					<input class="filled-in" formControlName="smoker" type="checkbox" id="smokerCheck"><label for="smokerCheck">Rökare</label>
					<input class="filled-in" formControlName="snus" type="checkbox" id="snusCheck"><label for="snusCheck">Snusare</label>
				</div>
				<div class="secondary-colour valign-wrapper col s4">
					(ålder)
				</div>
				<div class="tertiary-colour valign-wrapper col s4"> 
					<input class="with-gap valign-center" name="gender" value="all" formControlName="gender" type="radio" id="anyGender" checked="checked" />
					<label for="anyGender">Alla kön</label>
					<input class="with-gap valign-center" name="gender" value="women" formControlName="gender" type="radio" id="womenOnly"/>
					<label for="womenOnly">Kvinnor</label>
					<input class="with-gap valign-center" name="gender" value="men" formControlName="gender" type="radio" id="menOnly"/>
					<label for="menOnly">Män</label>
				</div>
			</div>

			<div class="row ">
				<div class="secondary-colour valign-wrapper col s4 ">
					<input class="filled-in" formControlName="includeTentative" type="checkbox" id="diagTentCheck"><label for="diagTentCheck">Inkludera tentativa diagnoser</label>
				</div>
				<div class="tertiary-colour valign-wrapper col s4">
					<input class="filled-in" formControlName="includeHist" type="checkbox" id="diagHistCheck"><label for="diagHistCheck">Inkludera föregående diagnoser</label>
				</div>
				<div class="secondary-colour valign-wrapper col s4"> 
					<input class="filled-in" formControlName="includeDiseasePast" type="checkbox" id="diseasePastCheck"><label for="diseasePastCheck">Inkludera föregående sjukdomar</label>
				</div>
			</div>

		</div>
	</form>
</div>
