<div id="menu-wrapper" class="z-depth-1">
		<div id="menu-bar" #menuBar>
			<div id="search-wrapper">

			
				<input 
					id="search-input searchTerms"
					[ngModel]="searchFieldModel" 
					#value 
					(keyup.enter)="onEnter(value.value)" 
					(keydown)="onNavpress($event.keyCode)"
					(blur)="onSearchFieldBlur()"
					(focus)="onSearchFieldFocus()"
					(ngModelChange)="onSearchFieldChange($event)" 
					placeholder="Sök..." 
					autocomplete="off"
				>
					
				
				<!--<input class="filled-in" type="hidden" name="searchTerms" id="searchTerms" formControlName="searchTerms">-->

				<div id="auto-search-results" style="display:block;" *ngIf="suggestedAutocomplete?.length > 0 && !searchFieldBlurred" >
					
					<span 
						*ngFor="let term of suggestedAutocomplete; let i = index" 
						id="{{generateAutocompleteItemId(i)}}" 
						style="display:block;"
						(mousedown)="handleMousedown(term, $event);"
						[ngStyle]="{'background-color': selectedAutocompleteIndex==i ? '#e7e7e7' : '#ffffff'}"
					>
						{{term}}
					</span>

				</div>

				<div id="selected-tags">

					<!-- Display selected tags 
					<div *ngFor="let tag of tags; let i=index" class="chip unselectable">
						{{tag}}
						<i id="generateTagId(i)" class="removeTag close material-icons" (click)="removeTag(i)">close</i>
					</div>
					-->
				</div>
			</div>
			<i class='spin-menu-button material-icons unselectable' id="advanced-button" (click)="toggleAdvancedBar()"
				[ngStyle]="{'transform': advancedBarVisible ? 'rotate(180deg)' : 'rotate(0deg)'}"
			>filter_list</i>
			<i class='spin-menu-button material-icons unselectable' id="settings-button" onclick="showExtraBar('settings');">settings</i>
			<a (click)="search()" class="col s12 m5 l5 right btn-large waves-effect waves-light primary-colour">Sök</a>

		</div>
		
			<advanced-form [visible]="advancedBarVisible" #advancedForm></advanced-form>

</div>
