/* Divs etc */
#mainWrapper {
	background-color: $background-gray;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	font: ssp;
}

#mainHeader {
	background-color: $primary-white;
	height: 25px;
	font-family: sspLight;
	box-shadow: 0px 1px 4px #AAA;
}

/* Buttons */
.button:hover {
	cursor: pointer;
}

#search-div {
	width: 50px;
	height: 50px;
	background-image: url('../img/menu.png');
	float: right;
	border-radius: 10px;
	border: 2px solid $light-blue;
}

/* Lists */

/* Table */

/* Images */

/* Forms */
.large-text-input {
	width: 200px;
	height: 40px;
}

.large-submit-input {
	width: 60px;
	height: 40px;
	background-color: $primary-white;
	border-radius: 10px;
	border: 2px solid $light-blue;
	color: $blue;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ccc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ccc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ccc;
}

/* Headings, Paragraphs etc */
