/* Divs etc */
#mainWrapper {
	background-color: $background-gray;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
}

#mainHeader {
	background-color: $primary-white;
	height: 50px;
	font-family: sspLight;
}

/* Buttons */

/* Lists */

/* Table */

/* Images */

/* Headings, Paragraphs etc */
