/* Colors */

$primary-white: #FFF;
$background-gray: #EEE;

/* Fonts */

@font-face {
    font-family: sspLight;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: ssp;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: sspBold;
    src: url('../fonts/SourceSansPro-Bold.ttf');
}
