<script>$( document ).ready(function(){})</script>
<div id="mainNav">
  <div id="navCenter">
	<nav class="nav-extended grey darken-4">
	  <div class="nav-wrapper container"><a href="/" class="brand-logo">Resolve</a><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down uppercase">
		  <li><a routerLink="/forum" routerLinkActive="active">Forum</a></li>
		  <li><a routerLink="/apply" routerLinkActive="active">Apply</a></li>
		  <li><a href="/testdata">Insert Test Data</a></li>
		  <li><a href="/auth/google">Login</a></li>
		</ul>
		<ul id="mobile-demo" class="side-nav">
		  <li><a href="/forum">Forum</a></li>
		  <li><a href="/apply">Apply</a></li>
		  <li><a href="/#">Insert Test Data</a></li>
		  <li><a href="//auth/google">Login</a></li>
		  <li><a href="/logout">Logout</a></li>
		</ul>
	  </div>
	</nav>
  </div>
</div>


<router-outlet></router-outlet>
