/* Colors */

$primary-white: #FFF;
$light-gray: #DDD;
$background-gray: #f6f7fb;
$light-blue: #dbe5ff;
$blue: #4680ff;

/* Rounded Corners */

$radius-small: 5px;

/* Sizes */

$window-min-size: 480px;

/* Fonts */

@font-face {
    font-family: sspLight;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: ssp;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: sspBold;
    src: url('../fonts/SourceSansPro-Bold.ttf');
}
