@import "colours"

#collections-togglebutton
	height: 100vw
	width: 20px
	background-color: $grey
	position: fixed
	top: 0
	z-index: 50
	cursor: pointer
	span
		display: block
		vertical-align: middle
	@media only screen and (max-width : 992px)
		display: none
	

.collections-menu
	margin-top: 69px
	transition: margin 0.4s
	transition: width 0.4s
	
.collections-menu-hidden
	width: 0
	
.collections-menu-margin
	margin-left: 300px
	@media only screen and (max-width : 992px)
		margin-left: 0
