.primary-colour {
  background-color: #1de9b6; }

.primary-colour-text {
  color: #1de9b6; }

.secondary-colour {
  background-color: #64ffda; }

.secondary-colour-text {
  color: #64ffda; }

.tertiary-colour {
  background-color: #a7ffeb; }

.tertiary-colour-text {
  color: #a7ffeb; }

#collections-togglebutton {
  height: 100vw;
  width: 20px;
  background-color: #e7e7e7;
  position: fixed;
  top: 0;
  z-index: 50;
  cursor: pointer; }
  #collections-togglebutton span {
    display: block;
    vertical-align: middle; }
  @media only screen and (max-width: 992px) {
    #collections-togglebutton {
      display: none; } }

.medimager-logo-container {
  height: 69px;
  width: 300px; }

.medimager-logo {
  display: block;
  margin: 0 auto;
  max-width: 270px;
  width: 100%;
  padding: 5px;
  padding-left: 0; }
  .medimager-logo:hover {
    background-color: #ffffff; }

.search-params-container {
  position: relative;
  background: linear-gradient(to bottom, #c0c0c0 50%, #1de9b6 50%);
  background-size: 100% 200%;
  background-position: left top;
  transition: background-position 0.2s ease; }
  .search-params-container.search-mode {
    background-position: left bottom; }
  .search-params-container .tags {
    padding: 5px 15px; }
  .search-params-container .search-params-header {
    height: 30px; }
  .search-params-container .search-params-click-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    pointer-events: all;
    z-index: 10; }

.collections-menu {
  z-index: 95;
  left: 0;
  transition: margin-top 0.4s, left 0.4s; }
  .collections-menu .chip {
    border-radius: 4px;
    padding: 0 8px; }
    .collections-menu .chip span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90px;
      display: inline-block; }
    .collections-menu .chip i {
      cursor: pointer;
      float: right;
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 8px; }
  .collections-menu li {
    transition: height 0.15s;
    position: relative;
    overflow: hidden;
    pointer: default; }
  .collections-menu a {
    transition: background-color 0.2s;
    transition-delay: 0.1s;
    position: relative;
    overflow: hidden;
    pointer: default; }
    .collections-menu a.collection-selected {
      background-color: #1de9b6; }
  .collections-menu .subheader {
    pointer-events: auto;
    cursor: default;
    position: relative;
    overflow: hidden;
    padding-left: 20px; }
    .collections-menu .subheader i {
      transition: transform 0.15s;
      margin-right: 14px !important; }
  .collections-menu .subsectionlistelement {
    padding-left: 60px; }
  .collections-menu .collections-menu-add-new-collection-input-box {
    padding-left: 55px; }
  .collections-menu input {
    width: 70%;
    height: 30px; }
    .collections-menu input:focus {
      border-bottom: 1px solid #9e9e9e !important;
      border-radius: 0; }
    .collections-menu input .valid {
      border-bottom: 1px solid #4CAF50;
      box-shadow: 0 1px 0 0 #4CAF50; }

.top-menu-margin {
  margin-top: 69px; }

.collections-menu-margin {
  margin-left: 300px; }
  @media only screen and (max-width: 992px) {
    .collections-menu-margin {
      margin-left: 0; } }

/*# sourceMappingURL=collections-menu.css.map */
