//IMPORTS OF OTHER FILES:
//------------------------------------------------------------------------
@import "colours"
@import "menu"
@import "popup"
@import "collections-menu"
@import "results"
@import "user-page"

//VARIABLES:
//------------------------------------------------------------------------

	
//------------------------------------------------------------------------

*
	box-sizing: border-box !important
	font-family: "Roboto Condensed"
	
body
	margin: 0

#page-wrapper
	margin-left: 300px
	
a, a:visited
	color: #000000

h2
	font-size: 25px

select
	display: block

.vertical-center
	position: absolute
	top: 50%
	transform: translateY(-50%)

.no-style-link
	padding: 0 !important
	&:hover
		background-color: transparent !important
	
.login-box
	width: 100%

#loginErrorIcon
	vertical-align: middle
	display: inline
	font-size: 18px

#loginErrorMsg
	vertical-align: middle
	display: inline
	font-size: 16px

#registerFields
	margin: 30px 0px 30px 0px

#image-wrapper
	padding-top: 10px
	padding-bottom: 10px
	text-align: center
	background-color: #212124
	height: 80vh
	position: relative
	tr
		td
			text-align: center

#full-image
	margin: 0 auto
	max-width: 70%
	max-height: 80vh
	display: inline-block
	vertical-align: top
		
#image-data
	margin: 0 auto
	text-align: center
	margin-bottom: 50px
	padding-top: 35px
	.image-data-column
		text-align: left
		font-size: 20px
		display: inline-block
		vertical-align: top
		margin: 0 20px
		padding: 20px
		label
			font-size: 18px
		p
			margin: 1px 0 16px 0px

#related-images
	position: absolute
	top: 50%
	right: 5px
	transition: transform 0.4s
	span
		width: 80px
		height: 50px
		display: block
		margin: 5px
		background-size: cover
		cursor: pointer
		opacity: 0.6
		transition: opacity 0.4s
		&:hover
			opacity: 1
		&.selected
			opacity: 1
	

#see-more-images-box
	margin-bottom: 100px
	padding: 50px
	text-align: center

#see-more-image-wrapper

.see-more-image
	display: inline-block
	position: relative
	max-width: 300px
	width: 100vw
	height: 210px
	margin: 5px

.see-more-image-fade
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, 0.6)
	color: #ffffff
	font-size: 25px
	padding-top: 23%
	svg
		display: block
		position: absolute
		top: 0
		left: 0
		polyline
			stroke-width: 3
			fill: none
			stroke: $primary-colour

.see-more-image-number-of-images
	font-size: 16px
	margin-top: 5px

#error404
	display: block
	text-align: center
	margin-top: 10%
	font-size: 30px

.center-preloader
	display: block
	margin: 0 auto
	margin-top: 10%

.spinner-primary-color-only
	border-color: $primary-colour

.btn-floating
	background-color: $primary-colour

.circle-clipper .circle
	border-width: 5px

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea
	padding: 0 7px

#login-box-logo
	width: 100%
	margin-top: 30px
	margin-bottom: 20px

.search-icon
	color: rgba(0,0,0,0.3)
	margin-top: 7px
	position: absolute
	
#footer
	position: fixed
	width: 100%
	padding: 10px
	text-align: center
	bottom: 0
	left: 0
	background-color: #ffffff
	box-shadow: 0px 0px 10px -6px rgba(0,0,0,0.8)
	z-index: 90

.unselectable
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-o-user-select: none
	user-select: none
	
.wordwrap
	white-space: pre-wrap
	white-space: -moz-pre-wrap
	white-space: -pre-wrap
	white-space: -o-pre-wrap
	word-wrap: break-word
