.primary-colour {
  background-color: #1de9b6; }

.primary-colour-text {
  color: #1de9b6; }

.secondary-colour {
  background-color: #64ffda; }

.secondary-colour-text {
  color: #64ffda; }

.tertiary-colour {
  background-color: #a7ffeb; }

.tertiary-colour-text {
  color: #a7ffeb; }

#menu-wrapper {
  text-align: left;
  position: fixed;
  left: 300px;
  top: 0;
  right: 0;
  height: 69px;
  z-index: 90; }

#menu-bar {
  z-index: 100;
  width: 100%;
  background-color: #ffffff;
  padding: 7px;
  padding-left: 15px;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.8); }
  #menu-bar input {
    padding: 0 5px;
    background-color: #ffffff;
    border: 0;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #aaaaaa; }

#settings-button {
  margin-top: 2px;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s;
  color: #1de9b6;
  right: 10px; }

#advanced-button {
  margin-top: 2px;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s;
  color: #1de9b6;
  margin-left: 10px; }

#add-row-button {
  margin-top: 2px;
  font-size: 3rem;
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s;
  color: #1de9b6;
  margin-left: 20px;
  position: relative; }

#advanced-bar {
  z-index: -2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: -1000px;
  transition: top 0.35s;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.8);
  padding-bottom: 15px; }
  #advanced-bar select {
    opacity: 1;
    background-color: white; }
  #advanced-bar .row {
    margin: 0;
    font-size: 1.3vw;
    max-font-size: 18px;
    min-font-size: 12px; }
    #advanced-bar .row .col {
      height: 50px;
      padding-left: 25px; }
      #advanced-bar .row .col label {
        color: #000000; }
  #advanced-bar label {
    margin-right: 20px;
    font-size: 1.3vw;
    max-font-size: 18px;
    min-font-size: 12px; }
  #advanced-bar input {
    display: inline-block; }

.filled-in[type="checkbox"]:checked + label::after, [type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after {
  border: 2px solid #1de9b6;
  background-color: #1de9b6; }

[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::before, .with-gap[type="radio"]:checked + label::after {
  border: 2px solid #1de9b6; }

#settings-bar {
  z-index: -1;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0, 0.8);
  transition: margin 0.4s;
  position: fixed;
  height: 50px;
  margin-top: -50px; }

.slider {
  display: inline-block;
  width: 300px;
  height: 10px;
  margin: 0 10px; }

#search-wrapper {
  display: inline-table;
  width: 50%;
  min-width: 200px; }

#auto-search-results {
  border: 1px solid #aaa;
  position: absolute;
  display: none;
  background-color: #ffffff;
  width: 50%;
  min-width: 200px; }
  #auto-search-results span {
    display: block;
    padding: 5px;
    width: 100%;
    cursor: pointer; }

#selected-tags {
  margin-top: 10px; }
  #selected-tags span {
    padding: 4px;
    border: 1px solid #64ffda;
    display: inline-block;
    background-color: #a7ffeb;
    margin: 4px;
    border-radius: 5px; }
    #selected-tags span span {
      cursor: pointer; }

.menu-wrapper .chip {
  border-radius: 4px;
  background-color: #1de9b6; }

.collection-topmenu-title {
  line-height: 69px;
  margin-left: 20px;
  font-size: 21px; }

.collection-topmenu-settings-button {
  line-height: 67px; }

.collection-topmenu-details-button {
  line-height: 69px;
  position: absolute;
  cursor: pointer;
  color: #1de9b6;
  font-size: 3rem;
  right: 70px; }

.collection-topmenu-details-container {
  position: absolute;
  right: 65%;
  top: 65%;
  background-color: #ffffff;
  width: 350px;
  cursor: default;
  transition: height 0.2s;
  overflow: hidden;
  color: #000000;
  row-height: 20px;
  border: none; }
  .collection-topmenu-details-container.expanded {
    border: 1px solid #e7e7e7; }
  .collection-topmenu-details-container h4 {
    line-height: 20px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 7px; }
  .collection-topmenu-details-container .row {
    padding: 3px 3px 3px 0px;
    width: 100%;
    margin-bottom: 0; }
    .collection-topmenu-details-container .row .btn {
      width: 100%;
      line-height: 36px;
      font-size: 16px;
      padding-left: 10px; }
      .collection-topmenu-details-container .row .btn i {
        font-size: 20px;
        line-height: 36px; }
    .collection-topmenu-details-container .row .col {
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px; }
  .collection-topmenu-details-container .wordwrap {
    overflow-x: none;
    overflow-y: auto;
    max-height: 280px;
    font-size: 15px;
    line-height: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px; }
  .collection-topmenu-details-container .edit-button {
    position: absolute;
    right: 7px;
    top: 7px;
    height: 28px;
    width: 28px;
    line-height: 28px; }
    .collection-topmenu-details-container .edit-button.confirm {
      right: 40px; }
    .collection-topmenu-details-container .edit-button i {
      line-height: 28px;
      font-size: 25px;
      position: relative;
      top: 0; }
  .collection-topmenu-details-container textarea {
    display: block;
    width: calc(100% - 14px);
    margin: 4px 7px 4px 7px;
    line-height: 18px;
    font-size: 15px;
    resize: none;
    height: 200px; }

/*# sourceMappingURL=menu.css.map */
