@import "colours"

#page-wrapper
	margin-top: 64px
	z-index: 51
	position: relative
	background-color: #ffffff
	transition: margin 0.4s

#search-results
	padding: 10px
	text-align: center
	margin-bottom: 39px
	span
		max-width: 300px
		width: 100vw
		height: 210px
		margin: 5px
		display: inline-block
		background-size: cover
		background-position: center
		cursor: pointer
		.opacity-wrapper
			height: 100%
			padding: 10px
			background-color: rgba(0,0,0,0.6)
			color: #ffffff
			opacity: 0
			transition: opacity .15s ease-in-out
			-moz-transition: opacity .15s ease-in-out
			-webkit-transition: opacity .15s ease-in-out
			&:hover
				opacity: 1
		.inner-text
			opacity: 1
			margin: 5px
			text-align: left


#results-count
	margin-right: 15px
	padding-top: 10px
	text-align: right
	font-size: 22px
	color: $grey-text
	display: none
