/* Divs etc */

.elementDiv {
	overflow: auto;
	background-color: $primary-white;

	-webkit-border-radius: $radius-small;
	-moz-border-radius: $radius-small;
	border-radius: $radius-small;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
	box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
}

/* Index */

#loginWrapper{
	background-color: $primary-white;
	form {
		margin: 0px 150px 0px 150px;
	}
}

#searchSideWrapper {
	background-image: url('../img/index_bg.jpeg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
}

/* Search */

#mainWrapper {
	background-color: $background-gray;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	font: ssp;
}

#mainHeader {
	background-color: $primary-white;
	height: 50px;
	box-shadow: 0px 1px 4px #ddd;
	a {
		margin: auto 20px;
		float: left;
		color:inherit;
	}
	a:hover {
		text-decoration: none;
	}
}

#basicSearch {
	overflow: auto;
}

#advancedSearch {
	overflow: auto;
	display: none;
}

/* Buttons */
input {
	margin-bottom: 2px;
}

.button	{
	color: $blue;
}
.button:hover {
	cursor: pointer;
}

.submitButton {
	float: right;
	display: block;
	background-color: $primary-white;

	-webkit-border-radius: $radius-small;
	-moz-border-radius: $radius-small;
	border-radius: $radius-small;
	border: 1px solid $light-gray;

	margin-right: 2px;
	padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.largeButton {
	width: 60px;
	height: 40px;
}

.extraLargeButton {
	width: 80px;
	height: 40px;
}

/* Lists */

/* Table */

/* Images */

/* Forms */

.large-text-input {
	width: 200px;
	height: 40px;
	float: left;
	display: block;

	:hover{
		cursor: pointer;
	}

	-webkit-border-radius: $radius-small;
	-moz-border-radius: $radius-small;
	border-radius: $radius-small;
	border: 1px solid $light-gray;

	padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.large-submit-input {
	width: 60px;
	height: 40px;
	background-color: $primary-white;
	float: right;

	-webkit-border-radius: $radius-small;
	-moz-border-radius: $radius-small;
	border-radius: $radius-small;
	border: 1px solid $light-gray;

	color: $blue;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
	font-family: sspLight;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ccc;
   opacity:  1;
   font-family: sspLight;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ccc;
   opacity:  1;
   font-family: sspLight;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ccc;
   font-family: sspLight;
}

/* Headings, Paragraphs etc */
.logo {
	margin: 10px;
	font-family: "filson-soft",sans-serif;
	font-weight: 200;
	span {
		color: $blue;
		font-weight: bold;
	}
}

#loginWrapper h2 {
	margin: 150px auto 50px auto;
	text-align: center;
	font-family: "filson-soft",sans-serif;
	font-weight: 200;
	span {
		color: $blue;
		font-weight: bold;
	}
}

#quickSearch {
	h2 {
		margin: 20px auto 20px auto;
		text-align: center;
	}

}
