$primary-colour: #1de9b6
$secondary-colour: #64ffda
$tertiary-colour: #a7ffeb

*
	box-sizing: border-box
	
body
	margin: 0
	font-family: "Roboto Condensed"


.center-box-wrapper
	text-align: center
	
.center-box
	position: absolute
	width: 100%
	max-width: 450px
	background-color: $primary-colour
	padding: 30px
	top: 40%
	left: 50%
	transform: translateY(-40%) translateX(-50%)
	input
		width: 100%
		padding: 15px
		font-size: 20px
		margin: 10px 0
		border: 0
		
.medimager-logo
	float: left
	height: 50px
	width: 190px
	margin-right: 15px
	
	
#menu-bar
	width: 100%
	background-color: $primary-colour
	padding: 7px
	input
		padding: 15px
		width: 35%
		min-width: 200px

#search-button
	height: 50px
	
#search-results
	padding: 20px
	
.result-image
	width: 300px
	height: 200px

.user-button
	float: right
	height: 50px
	width: 50px
		
#footer
	position: fixed
	width: 100%
	padding: 10px
	text-align: center
	bottom: 0
	left: 0
		